body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100%; */
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  /* padding: 4em; */
  flex-direction: column;
  /* width: 90%; */
  /* width: 100%; */

}

.main-body {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.field {
  /* display: flex; */

}

.select {
  display: flex;
  gap: 1em;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
}